/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #05050569;
}

.container {
  max-width: 90%; /* Utiliza porcentaje en lugar de píxeles */
  margin: 0 auto;
  padding: 1em; /* Utiliza em en lugar de píxeles */
}

.main-container {
  background-color: #1313db69;
  padding: 2em; /* Utiliza em en lugar de píxeles */
  margin: 0; /* Eliminado para evitar márgenes laterales en dispositivos pequeños */
  text-align: center;
}

.sub-container {
  background-color: #ffffff;
  padding: 2em; /* Utiliza em en lugar de píxeles */
  margin: 1em 0; /* Utiliza em en lugar de píxeles */
}

h2 {
  color: #363d3d;
  font-size: 1.1em;
  margin: 0; /* Eliminado para evitar márgenes predeterminados */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-container p {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 1em; /* Utiliza em en lugar de píxeles */
  text-align: center;
  border: 1px solid #080000;
}

.small-paragraph-container {
  background-color: #f4f4f4;
  padding: 2em; /* Utiliza em en lugar de píxeles */
}

video {
  width: 100%;
  height: auto;
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 600px) {
  video {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }

  .main-container,
  .sub-container,
  .column {
    margin: 0; /* Elimina márgenes laterales en dispositivos pequeños */
  }
}

.sub-container h4 {
  background-color: #6a7a8e;
  padding: 2em; /* Utiliza em en lugar de píxeles */
  margin: 0; /* Elimina márgenes predeterminados */
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.image-container {
  background-color: #fffdfd;
  text-align: center;
  padding: 1em;
  width: 100%;
  border-radius: 8px; 
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container video {
  max-width: 100%;
  height: auto;
  display: grid; /* Asegura que el video se centre correctamente */
  grid-template-columns: 
      repeat(auto-fit, minmax(150px, 1fr)
      );
      gap:32px;
  margin: 0 auto; /* Centra el video horizontalmente */
  object-fit: cover; /* Añadido para ajustar el video en el contenedor sin distorsionarse */
}
.imagen-chica {
  max-width: 20%; /* Puedes ajustar el porcentaje según tus necesidades */
  height: auto;
}

element.style {
  display: block;
  box-sizing: border-box;
  height: 390px;
  width: 670px;
  title{
    font-size: 15em;
  }
  color: #f7f3f3;
}